@import 'src/shared.scss';

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
  height: $navHeight;

  background-color: #ffffff;

  border-bottom: 1px solid #cccccc;
}

.title {
  display: flex;
  align-items: center;
}

$logoSize: 25px;
.logo {
  display: inline-block;
  margin-right: 10px;
  height: $logoSize;
  width: $logoSize;
  background: url('../../assets/logo.png') center/contain no-repeat;
}

.linksWrapper {
  > * + * {
    margin-left: 20px;
  }
}
