$cardMarginBottom: 30px;

.wrapper {
  padding: 40px 6%;
}

.title {
  margin: 0 0 40px;
  font-size: 36px;
  text-align: center;
}

.featureList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -$cardMarginBottom;
}

.card {
  flex: none;
  margin-bottom: $cardMarginBottom;
}

.cardImg {
  flex: none;
}

.cardDetail {
  flex: 1;
}

.cardTitle {
  margin: 0 0 20px;
  font-size: 24px;
}

.cardDesc {
  margin: 0;
  line-height: 1.5;
}
