$cardMarginBottom: 30px;

.wrapper {
  padding: 40px 6%;
}

.title {
  margin: 0 0 40px;
  font-size: 36px;
  text-align: center;
}

.languageSwitcher {
  display: flex;
  margin-bottom: 20px;
}

.switcherItem {
  padding: 5px 10px;
  width: 60px;
  text-align: center;
  border: 1px solid currentColor;
  cursor: pointer;

  & + & {
    margin-left: -1px;
  }

  input {
    display: none;
  }
}

.activeLanguage {
  background-color: #000000;
  color: #ffffff;
  border-color: #000000;
}

.codeShowcase {
  position: relative;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 4px;
  // white-space: pre;
  // font-family: monospace;
  counter-reset: lineCounter;
  overflow: auto;

  &:hover .copyBtn {
    display: block;
  }
}

.codeLine {
  display: block;
  line-height: 1.5;
  counter-increment: lineCounter;

  &::before {
    content: counter(lineCounter);
    margin-right: 10px;
    color: #999999;
    user-select: none;
  }
}

.copyBtn {
  display: none;
  position: absolute;
  top: -1px;
  right: -1px;
  padding: 5px 10px;
  background-color: #ffffff;
  border: 1px solid currentColor;
  cursor: pointer;

  &:active{
    background-color: #eeeeee;
  }
}
