@import 'styles/shared.scss';

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  // margin: 0 auto;
  padding: 0 6%;
  // max-width: $widthMax;
  height: $navHeight;
  background-color: #ffe8d0ee;
  z-index: 1;

  // border-bottom: 1px solid #cccccc;
}

.title {
  display: flex;
  align-items: center;
  color: #63341a;
  font-weight: 700;
  cursor: zoom-in;
}

$logoSize: 25px;
.logo {
  display: inline-block;
  margin-right: 10px;
  height: $logoSize;
  width: $logoSize;
  background: url('../../public/logo.svg') center/contain no-repeat;
}

.linksWrapper {
  > * + * {
    margin-left: 20px;

    @media (max-width: $screenSmall) {
      margin-left: 10px;
    }
  }
}

.link {
  color: #63341a;
  font-weight: 700;
  text-decoration: none;

  &:hover {
    opacity: 0.5;
  }
}
